<div class="alert alert-primary" role="alert">
  <p class="display-6">Argumentos de entrada: {{arg}}</p>
  <p class="display-6">Nombre de la plataforma(sistema operativo): {{platform}}</p>
  <p class="display-6">Versión de node.js: {{nodeVersion}}</p>
  <p class="display-6">Uso de memoria: {{memoryUsage}}</p>
  <p class="display-6">Número de procesadores: {{numCPUs}}</p>
</div>